// Arco Design样式覆盖
// 覆盖Arco Design变量
@use '@arco-design/web-vue/es/style/theme.less';

// 主色
$arcoblue-6: #3370ff;

// 字体
$font-size-body-3: 14px;

// 布局
$layout-header-height: 50px;
$layout-sider-width: 200px;